.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* header */
header {
    padding: 52px 98px;
    display: flex;
    justify-content: space-between;
}

.ul {
    display: flex;
    column-gap: 50px;
}

.active,
.no_active {
    color: #758BFD;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.active {
    color: #27187F;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}